/*ПК адаптив
@media screen (max-width 1100px) {
    .boxes-info {
    width: 40vh;
 }
}
*/


/*Мобильный адаптив*/
@media screen and (max-width: 900px) {
    h3 {
        font-size: 1.2em; 
    }
    h2 {
        font-size: 1.7em; 
        margin: .9rem 0;
    }
    h6 {
        font-size: 0.9em; 
    }

    .boxes-info {
        width: 92vw;
        border-radius: 15px;
        margin-bottom: 10%;
    }

    .btnlink {
     width: auto;
     padding: 35% 0px;
     border-radius: 30px;
    }

    .box-info img {
        height: 10%;
    }

    .nav {
        display: inline-block;
        justify-content: center;
    }
    .nav ul {
        width: 96vw;
        margin: 10px 0;
    }
}