body{
  background-image: url("https://i.pinimg.com/originals/26/fc/5a/26fc5a54be52918d95a77c1de2911a44.jpg");
  background-attachment: fixed;
  background-repeat: repeat-x;
  color: antiquewhite;
  margin: auto;
  max-width: 1920px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.nav ul {
  background-color: rgb(31, 30, 30);
  margin: 15px 40px;
  display: flex;
  color: antiquewhite;
  padding: 10px 0px;
  border-radius: 15px;
  list-style-type: none
}

.push-left {
  margin-right: auto;
}

.status{
  margin-left: 10px;
}

.block {
  margin-right: 40px;
  display: grid;
}

.content-box {
  display: flex;
  background-color: rgba(0, 0, 0, 0.514);
  border-radius: 40px;
  width: 80vw;
  max-width: 1980px;
  height: 80vh;
  max-height: 1080px;
}

.content {
  display: flex;
}

.slider-box {
  display: flex;
}

.flex-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
}
.aside ul {
  display: block;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  text-align: center;
  background-color: #12121200;
  list-style-type: none
}

.aside li {
  margin: 40px;
}

.content-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.box-slider {
  display: inline-block;
  background-color: cadetblue;
  justify-content: center;
}

.box h3, a{
  margin: 0px 15px;
  text-decoration: none;
  color: antiquewhite;
}

/* edit links*/

a {
  color: antiquewhite;
	text-decoration: none;
	font-weight: bold;
}

.nav a:hover{
  text-decoration: underline;
  color: #fff;
}

.justycentre a:hover{
	text-decoration: none;
	color: #fff;
  background-color: #121212
}

.project a:hover{
  text-decoration: none;
	color: #121212;
  background-color: #ffffff;
  transition: .7s;
}

.box-info a:hover{
  text-decoration: none;
	color: #fff;
  background-color: #121212;
  border-bottom: 4px #ffffff solid;
  transition: .4s;
}

#center {
	text-align: center;
}

/*box color*/

.b-orange{
 border-left: 5px darkgoldenrod solid;
}
.b-blue{
 border-left: 5px rgb(38, 38, 73) solid;
}
.b-green{
  border-left: 5px greenyellow solid;
 }

/*main page setting*/

.box-main{
 background-color: rgb(33, 31, 34);
}

.box-slider{
  display: block;
  background-color: cadetblue;
}
.box-hover{
  display: block;
  width: 70%;
  background-color: rgb(20, 116, 201);
}

/*grid template*/

.boxes {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 40px 120px 50px 50px; 
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(31, 30, 30);
  padding: 10px;
  width: 70%;

  grid-template-areas: 'a a' 
                       'b c' 
                       'b d'
                       'b -'; 
}

#a {
  grid-area: a;
}
#b {
  grid-area: b;
}
#c {
  grid-area: c;
}
#d {
  grid-area: d;
}

.boxes-info {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: auto auto 50px; 
  text-align: start;
  gap: 10px;
  border-radius: 5px;
  background-color: rgb(31, 30, 30);
  padding: 15px;
  width: 40vmax;

  grid-template-areas: 'b a' 
                       'f c' 
                       'f d'; 
}

.box-info {
  width: auto;
  height: 25%;
  text-align: center;
}

.box-info img {
  height: 22px;
  margin: 0px 10px;
}

.box-info p {
  display: inline-block;
  justify-content: center;
}

.box-content {
  display: flex;
  justify-content: center;
}

.site-footer {
  background-color: rgba(31, 30, 30, 0.459);
}

.site-footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 20px;
  font-size: 15px;
  color: antiquewhite;
  font-weight: bold;
}

.site-footer .container{
	text-align: center;
}

.btn {
  display: inline-block;
	padding: 10px 30px;
  background-color: #121212;
	color: #fff;
	margin: 2px 5px;
  
  font-size: 18px;
	border-radius:  20px;
}

.btnlink {
	padding: 10px 6px;
	color: #f3f3f3;
	margin: 0px 5px;
  width: auto;
	
  font-size: 18px;
  background-color: #252525;
	border-radius: 15px;
}

.btn-hov{
  display: block;
  background-color: #121212;
	color: #fff;
  padding: 10px;
  margin: 0px;
}

.images-color{
  filter: invert(100%); 
  -webkit-filter:invert(100%); ;
}


/**new disign**/


:root {
--primary-color: #D96AA7;
--secondary-color: #422C73;
--complimentary-color: #88BFB5;
--contrast-color: #F2E527;
--light-color: #D2A9D9;
}

/**.container {
  background: #191919;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
}**/

nav a {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

nav {
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background: var(--secondary-color);
}

section {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all ease-in .5s;
    display: flex;
    justify-content: center;
    align-items: center;
} 

section h1 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0;
}

/* Styles applied on trigger */
section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

section:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards .5s;
}

#first {
  background:var(--primary-color);
}
#second {
    background: var(--complimentary-color);
}

#third {
    background: var(--contrast-color);
}

#fourth {
    background: var(--light-color);
}

@keyframes fadeIn {
    100% { opacity:1 }
}